<h1>{{saludo profesor}}</h1>
<p>Bienveniso al curso de : {{mayuscula nombre}}</p>

<h2>La informacion del curso es:</h2>
<ul>
    <li><strong>Docente:</strong>{{profesor}}</li>
    <li><strong>Correo:</strong>{{correo}}</li>
    <li><strong>Horario:</strong>{{horario}}</li>
    <li><strong>Institucion:</strong>{{institucion}}</li>
    <li><strong>Fecha de Finalizacion</strong>{{formatoFecha fecha_finalizacion}}</li>
</ul>
