<h1><b>{{curso}}</b></h1>
<p> <strong>mi nombre es {{nombre}} {{apellido}}</strong></p>
<p>Estoy finalizando el curso de {{curso}} con la {{universidad}}</p>

<p>Me gusta mi trabajo de {{trabajo}} en la empresa {{empresa}} estoy muy
    feliz ya que he aprendido y crecido profesionalmente tengo los siguientes
    hobbies 
    <ol>
        <li>Patinar</li>
        <li>Viajar</li>
        <li>Cocinar</li>
        <li>Aprender</li>
    </ol>
</p>
